//color
$accent: #A757A8;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: #ffffff;

//mixin
@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

html {
  height:100vh;
  background-color: $lightGray;
  // background-image: url(/images/body_back.jpg);
  // background-size: cover;   
}

h1,h2,h3,h4,h5,h6,body {
  font-family:  "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}

a {
  text-decoration: none;
  color: $dark;
  &:hover {
    color: $accent;
  }
}

.bold {
  font-weight: bold;
}

::selection {
  background: $gray;
}

.btn {
    @include basePadding(8px 20px);
    font-size: 14px;
    border: 2px solid $accent;
    color: $accent;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  &:hover {
    border-color: lighten($accent, 15%);
    color: lighten($accent, 15%);
  }
}

.header{
  background-image: url(/images/phone_image2.jpg);
  background-size: cover; 
  .title{
    a{
      font-weight: bold;
      }
    padding-top: 10px;
    text-align:center;
    &__main{
      font-size:24px;
      margin:0;
    }
    &__sub{
      font-size:18px;
      margin:0;
    }
  }
  .bg-mask{
    height: 100%;
    background: rgba(255,255,255,0.5);
  }

  .navbar{
    max-width:1000px;
    margin:0 auto;
    height:40px;
    display:flex;
    justify-content: space-between;
    .postnav{
      display:flex;
      &__term{
        padding:10px 50px;
      }
    }
    .usernav{ 
      display:flex;
      border-bottom: 2px solid #dddddd;
      &__term{
        padding:10px 50px; 
      }
    }
  }
}
.wrapper{
  max-width: 1000px;
  margin: 10px auto;
  text-align: center;
  .search{
    width:100%;
    &__input{
      width:90%;
      margin:5px auto;
      height:40px;
      border-radius: 10px;
      border: 1px solid #ccc;
      }
      &__btn{
        position: relative;
        height:0px;
        &__icon{
          @media (min-width:1000px) {
          left:885px;
           }
          left:90vw;
          position: absolute;
          top:-35px;
          }
        &__link{
          @media (min-width:1000px) {
          left:870px;
          }
          left:88vw;
          position: absolute;
          -webkit-appearance: none;
          width:50px;
          height:32px;
          top:-42px;       
          opacity:0;
          cursor: pointer;
          position: relative;

  
          }
        }
      }
  .contents{
    margin:10px auto;
    max-width:1000px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    &_user{
      width:100%;
    }
    .content_post{
      position: relative;
      background-size: cover; 
      
      width:280px;
      height:280px;
      margin:20px;
      border-radius: 20px;
      .post-text{
        text-shadow: $white 1px 1px 0px; 
        color:$dark;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        height: 40%;
        width:100%;
        background: rgba(255,255,255,0.7);
      }
      .avatar{
        position: absolute;
        top: 30px;
        right:30px;
        object-fit: cover;
        width: 100px;
        height: 100px; 
        border-radius: 50%;
        border:solid 5px rgba(255,255,255,0.4);
      }
    }
    .pagination{
      margin:0 auto;
      width:100%;
      text-align: center;
    }
  }
}

footer{
  max-width: 1000px;
  text-align: center;
  margin: 10px auto;
}
