//color
$accent: #32CD32;
$black: #292929;
$darkgreen:#094e30;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: #ffffff;

@font-face {
  font-family: "851テガキカクット";
  src: font-url('851H-kktt_004.ttf') format('truetype');
}

//mixin
@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

html {
  height:100vh;
  background-color: $lightGray;  
}

body {
  font-family:"メイリオ","游ゴシック","ヒラギノ角ゴ Pro W6", "Avenir", "YuGothic", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo,  "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}

a {
  text-decoration: none;
  color:$black;
  &:hover {
    color: $accent;
  }
}
input, textarea,select{
  &:focus{
  outline:0;
  }   
 }

.bold {
  font-weight: bold;
}

.hidden{
  display:none;
}

::selection {
  background: $gray;
}

.btn {
  font-family: "851テガキカクット";
  @include basePadding(8px 20px);
  background-color: $lightGray;
  font-size: 14px;
  border: 2px solid $dark;
  color: $dark;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  &:hover {
    border-color: lighten($dark, 15%);
    color: lighten($dark, 15%);
  }
}

.header{
  background-image: url(/images/phone_image.jpg);
  background-size: cover; 
  .title{
    a{
      color:$black;
      font-family: "851テガキカクット";
      font-weight: bold;
      &:hover {
        color: $accent;
      }
      }
    padding-top: 10px;
    text-align:center;
    &__main{
      font-size:24px;
      margin:4px;
    }
    &__sub{
      font-size:18px;
      margin:2px;
    }
  }
  .bg-mask{
    height: 100%;
    background: rgba(255,255,255,0.5);
    .navbar{
      max-width:900px;
      margin:0 auto;
      height:50px;
      display:flex;
      justify-content: space-between;
      .postnav{
        z-index: 10;
        display:flex;
        &__item{
          padding:0;
          background-color: $white;
          display:block;
          .menu{
            display: block;
            margin: 0px auto;
            text-align: center;
            padding:10px;
            width: 160px;
            line-height: 30px;
            background-color: white;  
          }
          ul{
            li{
              display:none;
              visibility: hidden;
              transition: .5s;
            }
          }
          &:hover{ 
            .menu{
              display:none;
              visibility: hidden;
              }
            ul{
              li{
                visibility:visible;
                display: block;
                margin: 0px auto;
                text-align: center;
                padding:10px;
                width: 160px;
                line-height: 30px;
                background-color: white; 
              }      
            }
          }
        }
      }
      .usernav{ 
        display:flex;
        border-bottom: 2px solid #dddddd;
        &__item{
          padding:10px 10px; 
        }
      }
    }
  }
}

.wrapper{
  max-width: 1000px;
  margin: 10px auto;
  text-align: center;
  .search{
    width:100%;
    &__input{
      width:90%;
      margin:5px auto;
      height:40px;
      border-radius: 10px;
      border: 1px solid #ccc;
    }
    &__btn{
      position: relative;
      height:0px;
      &__icon{
        @media (min-width:1000px) {
          left:885px;
        }
        left:90vw;
        position: absolute;
        top:-35px;
        }
      &__link{
        @media (min-width:1000px) {
          left:870px;
        }
        left:88vw;
        position: absolute;
        -webkit-appearance: none;
        width:50px;
        height:32px;
        top:-42px;
        opacity:0;
        cursor: pointer;
        position: absolute;
        }
      }
    }
  .contents{
    margin:10px auto;
    max-width:1000px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    &_user{
      width:100%;
    }
    .content-post{
      position: relative;
      background-size: cover;
      width:280px;
      height:280px;
      margin:20px;
      border-radius: 20px;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
      .covered{
        width: 100%;
        height:100%;
        color: rgba(255,255,255,0);       
      }
      .post-detail{
        position: absolute;
        bottom: 0;
        height: 25%;
        width:100%;
        background: rgba(0,0,0,0.4);
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
        &__text{
          color:$white;
          position: left;
          width:100%;
          height:100%;
          &__title{
            padding:15px 0 10px;
            display: block;
            margin:auto;
            font-size: 16px;
          }
          &__description{
            display: flex;
            justify-content: space-around;
            font-size: 14px;
            &__category{
              span{
                margin-right: 5px;
                color: $dark;
                font-size: small;  
              }
            }
          }
        }
      }
      .avatar{
        position: absolute;
        top: 6px;
        right:10px;
        object-fit: cover;
        width: 60px;
        height: 60px; 
        border-radius: 50%;
        border:solid 5px rgba(0,0,0,0.4);
      }
    }
    .pagination{
      margin:0 auto;
      width:100%;
      text-align: center;
    }
  }
}

.card{
  width: 50%;
  background-color: $white;
  margin:30px auto;
  border-radius: 50px;
  padding:50px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  h3{
    font-weight: bold;
  }
  #post_text{
    width: 200px;
    height: 150px;
  }
  h2{
    font-size: 26px;
    font-family: "851テガキカクット";
    font-weight: bold;
    margin-bottom: 40px;
  }
  .alert{
    color: orange;
    }
  .field{
    margin:10px auto;
    #error_explanation{
      color: orange;
    }
    i{   
      font-size: 10px;
    }
    .exp{
      padding-left: 20px;
    }
    .label{
      margin:10px auto;
    }
    .form{
      width:200px;
      height: 30px;
      margin:10px auto;
      border-radius: 10px; 
      border: 1px solid #ccc;
      padding:5px 20px;
    }
    .post_present_img{
      border-radius: 20px;
      object-fit: cover;
      width: 300px;
      height: 300px;
    }
    select{
      margin-left:14px;
      appearance: none;
      padding-left:10px;
      width:200px;
      height: 30px;
      bottom:30px;
    }
    .category{
      display:flex;
      justify-content: space-around;
      margin:20px;
      }
    .item-title{
      text-align: left;
      margin-top:15px;
      margin-left:130px;
    }
    .post-text{
      margin: 20px auto;
      text-align: left;
      max-width:310px;
      border-radius:20px;
      padding:20px;
      border:solid 2px rgba(0,0,0,0.4);
      &__text{
        text-align:left;
      }
    }
    .image{
      border-radius: 20px;
      object-fit: cover;
      width: 350px;
      height: 350px;
      @media (max-width:750px) {
        width:250px;
        height:250px;
      }
    }
    .tag-and-user{
      h3{
      margin-bottom:10px;
      }
      width:80%;
      margin:0 auto;
      display:flex;
      justify-content: space-around;
      .users{
        text-align: center;
      } 
    }
    .user-list{
      justify-content: center;
      display:flex;
      .btn{
        margin:20px;
      }
    }
    .comment-form{
      margin:0 auto;
      padding:5px 20px;
      max-width: 400px;
      height: 60px;
      border-color:#ccc;
      border-radius: 20px;
    }
    .login-notice{
      font-family: "851テガキカクット";
      &__like{
        font-size: 10px;
      }
    }
    .no_avater{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      opacity: 0.1;
    }
    .like{
      display:flex;
      justify-content: center;
      .like-one{
        margin: 10px;
      }
    }
  }
  .avatar_present_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  #avatar_img_prev{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}

footer{
  max-width: 1000px;
  text-align: center;
  margin: 10px auto;
}

@media screen and (max-width: 480px) {
  .header{
    .bg-mask{
      .navbar{
        .postnav{
          &__item{
          .menu{
            font-size:13px;
            padding:10px;
            width: 90px;
          }
          &:hover{ 
            ul{
              li{
                font-size:13px;
                padding:10px;
                width: 90px;
                }
              }
            }
          }
        }
      }
    }
  }
  .card{
    width:65%;
    h3{
      font-weight: bold;
    }
    .field{
      .post-text{
        width:200px;
        }
      .image{
        width: 200px;
        height: 200px;
      }
      .tag-and-user{
        font-size: 12px;
        h3{
          font-size:16px;
        }
      }
      .comment-form{
        width: 200px;
      }
      .login-notice{
        text-align: left;
      }
    }
  }
}